 
/.gradle/
/.settings/
/bin/
/build/
/eclipse/
/gradle/
/jars/
/lib/
/.classpath
/.directory
/.project
/build.gradle
/CREDITS-fml.txt
/forge-1.7.10-10.13.4.1566-1.7.10-changelog.txt
/gradlew
/gradlew.sh
/gradlew.bat
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/mod.zip
